---
title: hanzimaker
---


<div class = "title">
  <h1>
  Hanzi Maker ｜ 自造汉字
  </h1>
  <h4>Make new Chinese characters (汉字 hanzi) to bypass automated censorship</h4>
</div>

  <%= partial "onboarding" %>

  <div class="background-context">

  </div>
  <div class="background-context-images">


  </div>



<div class="parent-container">

    <div id="examples left">
      <h3>Examples</h3>
      <button class="info-tooltip" aria-label="Existing examples of made up Chinese words" data-balloon-pos="up"">
         <img src="assets/images/icons/info.svg" class="config-info">
      </button>
      <figure>
        <%= image_tag "niubi.jpg", :width => '50px'%>
      </figure>
      <figcaption>
        niubi, meaning awesome. uses "niu" 牛 character for cow, and B, english letter.
      </figcaption>
      <figure>
      <%= image_tag "shiwai.jpg", :width => '50px'%>
      </figure>
      <figcaption>
        shi wai, or "deadly person", referring to CY Leung during umbrella revolution.
        尸shi and Y letter.
      </figcaption>


      <figure>
        <%= image_tag "ta.jpg", :width => '50px'%>
      </figure>
      <figcaption>
        Ta, 他 and 她 alternative, third person non-binary.
      </figcaption>

      <figure>
        <%= image_tag "hk.jpg", :width => '50px'%>
      </figure>
      <figcaption>
        (a) Oppose China, Destabilize Hong Kong, (b) Thief/Seller of Hong Kong, and (c) Hong Kong
    independence.
      </figcaption>
    </div>


    <div id="center-div-canvas">

      <div class="alert alert-warn-two" style="display:none">This auto-config requires two radicals</div>
      <div class="alert alert-warn-three" style="display:none">This auto-config requires three radicals</div>


      <div id="download-link">
        <a href="" id="download-link-href"></a>
      </div>

      <div id="clear-the-canvas">
        <button onclick="clearAll()" id="clearAll"> Clear Canvas </button>
      </div>


      <div id="canvas-container">
        <canvas id="canvas"></canvas>
      </div>

      <div class="definition-box">
        <h3> English definition </h3>
        <div id="definition-tracker">
        </div>
      </div>

      <div class="configuration-options">
          <h3>Configuration</h3>
          <button class="info-tooltip" aria-label="Auto-arrange radicals on canvas" data-balloon-pos="up"">
             <img src="assets/images/icons/info.svg" class="config-info">
          </button>
          <div class="arrange">
            <button class="config-2-horizontal" onclick="horizontalTwo()">
               <img src="assets/images/icons/1.svg" class="arrange-svg">
            </button>
            <button class="config-2-horizontal" onclick="horizontalThree()">
              <img src="assets/images/icons/2.svg" class="arrange-svg">
            </button>
            <button class="config-2-horizontal" onclick="subDivideRight()">
              <img src="assets/images/icons/3.svg" class="arrange-svg">
            </button>
            <button class="config-2-horizontal" onclick="subDivideLeft()">
              <img src="assets/images/icons/4.svg" class="arrange-svg">
            </button>
            <button class="config-2-horizontal" onclick="verticalTwo()">
              <img src="assets/images/icons/5.svg" class="arrange-svg">
            </button>
            <button class="config-2-horizontal" onclick="verticalThree()">
              <img src="assets/images/icons/6.svg" class="arrange-svg">
            </button>
            <button class="config-2-horizontal" onclick="subDivideTop()">
              <img src="assets/images/icons/7.svg" class="arrange-svg">
            </button>
            <button class="config-2-horizontal" onclick="subDivideBottom()">
              <img src="assets/images/icons/8.svg" class="arrange-svg">
            </button>
          </div>
      </div>
    </div>

    <div class="radicals right">
      <h3>Radicals</h3>
      <button class="info-tooltip" aria-label="Building blocks of Chinese characters" data-balloon-pos="up"">
         <img src="assets/images/icons/info.svg" class="config-info">
      </button>

      <div class="radical-menu-container">
        <div class="radicals radical-menu">
          <% data.radicals.group_by(&:category).each do |category, radicals| %>
            <div id="radical-group-heading">
              <%=category%>
            </div>
            <div class="radical-group-category">
            <%radicals.each do |f|%>

                <div class="radical-button">
                  <div class="radical-svg">
                    <%= image_tag "radicals/radical-#{f.id}.svg", :data=>"assets/images/radicals/radical-#{f.id}.svg", :"data-rad-type" => "#{f.definition}", :class => 'radical-svg-link'%>
                  </div>
                  <div class="svg-definition">
                    <%=link_to "#{f.definition}","#", :relative => true, :data =>"assets/images/radicals/radical-#{f.id}.svg", :"data-rad-type" => "#{f.definition}", :class => "radical-svg-link"%>
                  </div>
                </div>

                <%end%>
            </div>
            <%end%>

        </div>
      </div>

        <h3>Sensitive Words</h3>
        <button class="info-tooltip" aria-label="Sourced from China Digital Times" data-balloon-pos="up"">
           <img src="assets/images/icons/info.svg" class="config-info">
        </button>

          <div class="radicals word-menu">
            <% data.words.each do |word| %>
              <div class="word-button">
                  <div class="word-svg">
                    <%= image_tag "words/#{word.id}.svg", :data=>"assets/images/words/#{word.id}.svg", :"data-rad-type" => "#{word.en}", :class => 'word-svg'%>
                  </div>
                  <div class="svg-definition-word">
                    <%=link_to "#{word.en}","#", :relative => true, :data =>"assets/images/words/#{word.id}.svg", :"data-rad-type" => "#{word.en}", :class => "radical-svg-link"%>
                  </div>
              </div>
              <% end %>

            </div>



        <div class="freeText">
          <label for="addText">Freetype</label>
          <button class="info-tooltip" aria-label="Add anything to canvas" data-balloon-pos="up"">
             <img src="assets/images/icons/info.svg" class="config-info">
          </button>
          <input type="text" id="addText"  value="" />
          <button onclick="submitTextToCanvas()" id="testButton"> Add to Canvas </button>
        </div>

      </div>

  </div>

  <%= javascript_include_tag 'site' %>
